<ul id="slider1">
  <li><%=image_tag("001.png", height: "200", width: "150")%></li>
  <li><%=image_tag("002.png", height: "200", width: "150")%></li>
  <li><%=image_tag("003.png", height: "200", width: "150")%></li>
  <li><%=image_tag("004.png", height: "200", width: "150")%></li>
  <li><%=image_tag("005.png", height: "200", width: "150")%></li>
</ul>

